/* External CSS file for menu styles */

.menu-icon {
    cursor: pointer;
    font-size: 80px;
    margin-left: auto; /* Set left margin to auto */
    margin-right: 20px; /* Adjust right margin as needed */
    padding: 10px 10px;
}

.menu-options {
    display: none;
    position: absolute;
    top: 130px; /* Adjust top position as needed */
    right: 0;
    background-color: rgba(200, 200, 200, 0.5); /* Light grey with transparency */
    padding: 25px;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
}

    .menu-options ul {
        list-style: none;
        margin: 0;
        padding: 10px 25px 10px 10px;
    }

    .menu-options li {
        margin-bottom: 10px;
    }

    .menu-options a {
        color: #4A66AC;
        text-decoration: none;
        font-weight: bold;
    }
