body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center right;
    color: white;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.header {
    color: #242852;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8);
    transition: background 0.2s; /* Add a smooth transition effect */
}

.navigation {
    display: flex;
    justify-content: center;
}

    .navigation ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navigation li {
        margin-right: 30px;
        display: inline;
    }

    .navigation a {
        color: #4A66AC;
        text-decoration: none;
        font-weight: bold;
    }

.content {
    margin-top: 200px;
    color: #4A66AC;
    padding: 10px 10px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    max-width: 100%;
    height: auto;
}

.social-media-logo {
    width: 50px;
    height: auto;
}
