/* External CSS file for site styles */

html {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    min-height: 100vh; /* Ensure a minimum height of 100% of the viewport height */
    height: auto; /* Allow the section to expand beyond 100vh if the content is taller */
}


.container {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 50px;
}

.header {
    color: #242852;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background 0.2s;
    overflow: visible;
}

.navigation {
    display: flex;
    justify-content: center;
}

    .navigation ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navigation li {
        margin-right: 30px;
        display: inline;
    }

    .navigation a {
        color: #4A66AC;
        text-decoration: none;
        font-weight: bold;
    }

.content {
    padding: 20px;
    color: #4A66AC;
}

.logo {
    max-width: 100%;
    height: auto;
}

section {
    height: 100vh;
}

h2 {
    font-size: 1.5rem;
    color: #4A66AC;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
}

p {
    font-size: 1.0rem;
    color: #4A66AC;
    margin-top: 25px;
    margin-bottom: 20px;
    font-weight: normal;
}

/* Menu styles */

.menu-icon {
    cursor: pointer;
    font-size: 70px;
    margin-left: auto; /* Set left margin to auto */
    margin-right: 20px; /* Adjust right margin as needed */
    padding: 10px 10px;
}


.menu-options {
    display: none;
    position: fixed;
    top: 130px; /* Adjust top position as needed */
    right: -100%;
    background-color: rgba(200, 200, 200, 0.5);
    padding: 25px;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: right 0.5s linear;
    min-height: 17vh; /* Ensure a minimum height of 17% of the viewport height */
    max-height: calc(100vh - 130px); /* Set the maximum height to the remaining viewport height after considering the top value */
    overflow-y: auto;
}

.menu-options {
    right: 0;
}


    .menu-options ul {
        list-style: none;
        margin: 0;
        padding: 10px 25px 10px 10px;
    }

    .menu-options li {
        margin-bottom: 10px;
    }

    .menu-options a {
        color: #4A66AC;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
    }

        .menu-options a:hover {
            opacity: 0.7; /* Reduce opacity on hover */
        }

.social-media-icons-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-media-logo-menu {
    width: 30px; /* Adjust the size as needed */
    height: auto;
    margin: 0 15px; /* Adjust the margin to create more space between icons */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Add smooth transition */
}

.menu-options a:hover .social-media-logo-menu {
    transform: scale(1.3); /* Increase the size on hover */
    opacity: 0.7; /* Reduce opacity on hover */
}


/* Menu styles */

#Home {
/*    background-image: url('../images/Background.png');
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;*/
    /*height: 100vh;*/ /* Make the section fill the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 50px; /* Add margin at the bottom to create space between sections */
    margin-bottom: 50px; /* Add margin at the bottom to create space between sections */
    /*overflow: auto;*/ /* or overflow: hidden; */
    box-sizing: border-box;
    position: relative; /* Set position to relative */
}

    #Home h2 {
        font-family: 'Arial', sans-serif;
        font-size: 3rem; /* Adjust the font size */
        color: #242852;
        padding-bottom: 7px;
        overflow: hidden;
    }

    #Home p {
        padding-top: 0px; /* Adjust the padding to increase the gap */
        font-size: 2.5rem;
        color: #242852;
        overflow: hidden;
        border-right: 0.15em solid #242852;
        white-space: nowrap;
        margin: 0 auto;
        margin-top: 50px;
        letter-spacing: 0.25em;
        animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
        -webkit-animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
        -moz-animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
    }

    #Home a {
        margin-top: 50px; /* Adjust the margin to increase the gap */
    }

.social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end; /* Align the icons to the bottom */
    margin-top: 10px; /* Increase the margin to create more space */
    margin-bottom: 200px;
    padding-top: 1.0%;
}

.social-media-logo {
    width: 50px;
    height: auto;
    margin: 0 25px; /* Adjust the margin to create more space between icons */
    position: relative;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@-webkit-keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }

    50% {
        border-color: #242852;
    }
}

@-webkit-keyframes blink-caret {
    from, to {
        border-color: transparent;
    }

    50% {
        border-color: #242852;
    }
}

#scrollDownIcon {
    color: #4A66AC;
    font-size: 3rem;
    cursor: pointer;
    position: absolute; /* Set position to absolute */
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999; /* Set a higher z-index */
}


    #scrollDownIcon:hover {
        color: #2A3E6E; /* Change the color on hover if desired */
    }

.social-media-icons a {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-bottom: 50px;
}

.tooltip {
    display: none;
    position: absolute;
    top: 105%; /* Position the tooltip below the image */
    left: 50%; /* Position the tooltip below the image */
    transform: translateX(-50%);
    background-color: rgba(200, 200, 200, 0.9);
    color: #4A66AC;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: max-content;
}

.social-media-icons a:hover .social-media-logo {
    transform: scale(1.3); /* Increase the size on hover */
    opacity: 0.5; /* Reduce opacity on hover */
}

.social-media-icons a:hover .tooltip {
    display: block;
}


/* About Section Styles */
#About {
    display: flex;
    align-items: center;
    padding: 0px 50px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    transform: translateX(-150%); /* Initial position outside the viewport */
    transition: transform 2s; /* Add transition for the transform property */
}

    #About.active {
        transform: translateX(0); /* Move the section back to its original position */
    }

    #About .content-wrapper {
        display: flex;
    }

    #About .text-column {
        flex: 3;
    }

    #About .image-column {
        flex: 1;
        margin-left: 20px;
        margin-right: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #About .image-column img {
            width: 100%;
            height: auto;
        }

    #About h2 {
        text-align: left;
        transition: transform 2s;
    }

    #About.active h2 {
        transform: translateX(0);
        text-decoration: underline; /* Maintain underline style when active */
    }

    #About p {
        text-align: left;
        max-width: 90%;
        transition: transform 2s;
    }

    #About.active p {
        transform: translateX(0);
    }



/* Skills Section Styles */
#Skills {
    /*height: 100vh;*/ /* Make the section fill the viewport height */
    text-align: left; /* Left-align the entire section */
    padding: 50px;
    max-width: 100%;
    margin: 0 auto;
}

    #Skills.active p {
        transform: translateY(0); /* Adjust as needed */
    }

    #Skills .skills-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* Display images in 4 columns */
        gap: 15px; /* Adjust the gap to your preference */
        max-width: 60%; /* Set a maximum width for the container */
        margin: 50px auto; /* Center the container */
        transform: translateX(-150%); /* Initial position outside the viewport */
        transition: transform 2s; /* Add transition for the transform property */
    }

    #Skills.active .skills-container {
        transform: translateY(0); /* Adjust as needed */
    }

    #Skills img {
        width: 80px; /* Set a fixed width for the images (adjust as needed) */
        height: auto;
        margin: 25px 30px; /* Add margin between images (adjust as needed) */
        display: block; /* Fix for inline-block whitespace issue */
 }



    #Skills h2 {
        text-align: left;
        text-decoration: underline;
        transform: translateX(-150%); /* Initial position outside the viewport */
        transition: transform 2s; /* Add transition for the transform property */
    }

    #Skills.active h2 {
        transform: translateY(0); /* Adjust as needed */
    }

    #Skills p {
        text-align: left;
        max-width: 80%; /* Adjust this value according to your design */
        transform: translateX(-150%); /* Initial position outside the viewport */
        transition: transform 2s; /* Add transition for the transform property */
    }

    #Skills.active p {
        transform: translateY(0); /* Adjust as needed */
    }

    #Skills .skills-container img {
        position: relative;
    }


    #Skills .skills-container .skill-item {
        position: relative;
        display: inline-block;
    }

        #Skills .skills-container .skill-item img {
            width: 80px;
            height: auto;
            margin: 25px 30px;
            display: block;
        }

        #Skills .skills-container .skill-item .tooltip {
            display: none;
            position: absolute;
            top: 100%; /* Adjusted the tooltip position */
            left: 26.5%; /* Adjusted the tooltip position */
            transform: translateX(-50%);
            background-color: rgba(200, 200, 200, 0.9);
            color: #4A66AC;
            padding: 8px;
            border-radius: 4px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 1;
            width: max-content;
        }

        #Skills .skills-container .skill-item:hover img {
            transform: scale(1.3); /* Increase the size on hover */
            opacity: 0.5; /* Reduce opacity on hover */
        }

        #Skills .skills-container .skill-item:hover .tooltip {
            display: block;
        }



/* Content Section Styles */
#Contact {
    /*height: 100vh;*/ /* Make the section fill the viewport height */
    background-image: url('../images/Laptop.jpeg');
    background-size: cover;
    background-position: center right;
    background-attachment: fixed; /* Make the background image fixed while scrolling */
}


#Contact .business-card {
    perspective: 1000px;
    width: 500px;
    height: 250px;
    margin: 200px auto 50px auto;
    position: relative;
}

    #Contact .business-card:hover .card-inner {
        transform: rotateY(180deg);
    }

#Contact .card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    position: relative;
    border: 2px solid #4A66AC;
    box-shadow: 0 2px 5px rgba(0, 116, 204, 0.2);
}

#Contact .front,
#Contact .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Contact .back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

    #Contact .back h2 {
        text-align: left;
        margin: 0;
        color: #4A66AC; /* Darker color for the name */
    }

    #Contact .back p {
        text-align: left;
        margin: 0;
        color: #4A66AC; /* Darker color for other details */
    }

    #Contact .back .social-media-icons {
        position: absolute;
        bottom: -235px;
        right: 10px;
        display: flex;
    }

        #Contact .back .social-media-icons a {
            margin-right: -20px; /* Adjust this value to reduce the space between icons */
        }

#Contact h2 {
    text-align: center; /* Align text centrally */
    margin-bottom: 10px;
    border: 2px solid #4A66AC; /* Add border around the h2 */
    padding: 10px; /* Add padding for better visual appearance */
    letter-spacing: 0.25em;
}

#Contact h3 {
    text-align: center; /* Align text centrally */
    margin-top: 0px;
    margin-bottom: 0px;
    border: 2px solid #4A66AC; /* Add border around the h2 */
    padding: 10px; /* Add padding for better visual appearance */
    letter-spacing: 0.25em;
}

#Contact h4 {
    text-align: center; /* Align text centrally */
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0px; /* Add padding for better visual appearance */
    color: #242852;
}
#Contact p {
    text-align: center; /* Align text centrally */
    margin-bottom: -30px;
    margin-top: -30px;
    padding: 0px; /* Add padding for better visual appearance */
}

#Contact .card-inner p {
    margin-bottom: 10px;
}

#Contact .social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-end;
    margin-top: 10px;
}

    #Contact .social-media-icons a {
        margin-right: 10px;
    }

#Contact .front {
    background: white; /* Light gray background color */
}

#Contact .back {
    background: white; /* Light gray background color */
    transform: rotateY(180deg);
}

.business-card {
    transition: transform 2s;
    transform: translateY(100%);
}

    .business-card.active {
        transform: translateY(0);
    }

#Contact .social-media-logo {
    margin: 0 15px; /* Adjust margin for smaller screens */
}


@media only screen and (max-width: 425px) {
    .navigation li {
        margin-right: 20px; /* Adjust margin for smaller screens */
    }

    .menu-options {
        /*height: 150%;*/ /* Make the section fill the viewport height */
        top: 80px; /* Adjust top position for smaller screens */
        padding: 10px;
    }

    .menu-icon {
        font-size: 1rem;
    }

    .social-media-logo-menu {
        width: 20px; /* Adjust the size as needed */
        height: auto;
        margin: 0 10px; /* Adjust the margin to create more space between icons */
    }

    .menu-options li {
        font-size: 0.6rem;
    }


    #Home, #About, #Skills, #Contact {
        min-height: 100vh; /* Ensure a minimum height of 100% of the viewport height */
        height: auto; /* Allow the section to expand beyond 100vh if the content is taller */
    }

        #Home h2 {
            font-size: 0.8rem; /* Adjust font size for smaller screens */
            padding-bottom: 0.5rem;
        }

        #Home p {
            font-size: 0.6rem; /* Adjust font size for smaller screens */
            margin-top: 0.5rem;
            margin-bottom: 0.0rem;
        }

        #Home a {
            margin-top: 2rem; /* Adjust the margin for smaller screens */
            margin-bottom: 0.5rem;
        }

    .social-media-icons {
        margin-bottom: 4rem; /* Adjust margin for smaller screens */
    }

    .social-media-logo {
        width: 20px; /* Adjust icon size for smaller screens */
        margin: 0 10px; /* Adjust margin for smaller screens */
    }

    #scrollDownIcon {
        font-size: 0.8rem; /* Set the font size as needed */
    }

    #About h2,
    #Skills h2,
    #Contact h2 {
        font-size: 0.6rem; /* Adjust font size for smaller screens */
        padding-bottom: 0.5rem;
    }

    #About p,
    #Skills p,
    #Contact p {
        max-width: 100%; /* Adjust max-width for paragraphs to fit smaller screens */
        font-size: 0.4rem; /* Adjust font size for smaller screens */
        margin-top: 0.5rem;
        margin-bottom: 0.0rem;
    }

    #About .content-wrapper {
        flex-direction: column; /* Change the flex direction to column for smaller screens */
    }

    #About .text-column,
    #About .image-column {
        flex: 1; /* Equal width for both columns on smaller screens */
        margin: 0; /* Remove margin for both columns */
    }

    #About .image-column {
        margin-top: 30px; /* Add some spacing between text and image columns */
    }

        #About .image-column img {
            max-width: 80%; /* Set the maximum width for the image to 100% of the container */
        }


    #Skills .skills-container {
        grid-template-columns: repeat(3, 1fr); /* Display images in 2 columns for smaller screens */
        max-width: 100%; /* Adjust maximum width for smaller screens */
    }

        #Skills .skills-container .skill-item img {
            width: 50px; /* Adjusted width */
            height: auto;
            margin: 10px 10px; /* Adjusted margin */
        }

    /*#Contact {
        height: 100vh;*/ /* Make the section fill the viewport height */
    /*}*/

    #Contact .business-card {
        perspective: 500px;
        width: 300px;
        height: 175px;
        margin: 50px auto 25px auto;
    }

    #Contact .front,
    #Contact .back {
        padding: 10px;
    }

        #Contact .back h2 {
            text-align: left;
            margin: 0;
            color: #4A66AC; /* Darker color for the name */
        }

        #Contact .back p {
            text-align: left;
            margin: 0;
            color: #4A66AC; /* Darker color for other details */
        }

        #Contact .back .social-media-icons {
            position: absolute;
            bottom: -175px;
            right: 10px;
            display: flex;
        }

            #Contact .back .social-media-icons a {
                margin-right: -10px; /* Adjust this value to reduce the space between icons */
            }

    #Contact h2 {
        margin-bottom: 5px;
        border: 1px solid #4A66AC; /* Add border around the h2 */
        padding: 5px; /* Add padding for better visual appearance */
        letter-spacing: 0.15em;
        font-size: 1rem;
    }

    #Contact h3 {
        border: 1px solid #4A66AC; /* Add border around the h2 */
        padding: 5px; /* Add padding for better visual appearance */
        letter-spacing: 0.15em;
        font-size: 0.9rem;
    }

    #Contact h4 {
        margin-bottom: 5px;
        margin-top: 5px;
        font-size: 0.9rem;
    }

    #Contact p {
        margin-bottom: -15px;
        margin-top: -15px;
        font-size: 0.8rem;
    }

    #Contact .card-inner p {
        margin-bottom: 5px;
    }

    #Contact .social-media-icons {
        margin-top: 5px;
    }

        #Contact .social-media-icons a {
            margin-right: 5px;
        }

    #Contact .social-media-logo {
        width: 30px; /* Adjust icon size for smaller screens */
        margin: 0 10px; /* Adjust margin for smaller screens */
    }
}





@media only screen and (max-width: 768px) {
    .navigation li {
        margin-right: 20px; /* Adjust margin for smaller screens */
    }

    .menu-options {
        /*height: 150%;*/ /* Make the section fill the viewport height */
        top: 80px; /* Adjust top position for smaller screens */
        padding: 10px;
    }

    .menu-icon {
        font-size: 2.5rem;
    }

    .social-media-logo-menu {
        width: 25px; /* Adjust the size as needed */
        height: auto;
        margin: 0 10px; /* Adjust the margin to create more space between icons */
    }

    .menu-options li {
        font-size: 0.8rem;
    }


    #Home, #About, #Skills, #Contact {
        min-height: 100vh; /* Ensure a minimum height of 100% of the viewport height */
        height: auto; /* Allow the section to expand beyond 100vh if the content is taller */
    }

        #Home h2 {
            font-size: 1.2rem; /* Adjust font size for smaller screens */
            padding-bottom: 0.5rem;
        }

        #Home p {
            font-size: 1rem; /* Adjust font size for smaller screens */
            margin-top: 0.5rem;
            margin-bottom: 0.0rem;
        }

        #Home a {
            margin-top: 2.5rem; /* Adjust the margin for smaller screens */
            margin-bottom: 1rem;
        }

    .social-media-icons {
        margin-bottom: 8rem; /* Adjust margin for smaller screens */
    }

    .social-media-logo {
        width: 20px; /* Adjust icon size for smaller screens */
        margin: 0 10px; /* Adjust margin for smaller screens */
    }

    #scrollDownIcon {
        font-size: 1.5rem; /* Set the font size as needed */
    }

    #About h2,
    #Skills h2,
    #Contact h2 {
        font-size: 1rem; /* Adjust font size for smaller screens */
        padding-bottom: 0.5rem;
    }

    #About p,
    #Skills p,
    #Contact p {
        max-width: 100%; /* Adjust max-width for paragraphs to fit smaller screens */
        font-size: 0.7rem; /* Adjust font size for smaller screens */
        margin-top: 0.5rem;
        margin-bottom: 0.0rem;
    }

    #About .content-wrapper {
        flex-direction: column; /* Change the flex direction to column for smaller screens */
    }

    #About .text-column,
    #About .image-column {
        flex: 1; /* Equal width for both columns on smaller screens */
        margin: 0; /* Remove margin for both columns */
    }

    #About .image-column {
        margin-top: 30px; /* Add some spacing between text and image columns */
    }

        #About .image-column img {
            max-width: 80%; /* Set the maximum width for the image to 100% of the container */
        }


        #Skills .skills-container {
            grid-template-columns: repeat(3, 1fr); /* Display images in 2 columns for smaller screens */
            max-width: 100%; /* Adjust maximum width for smaller screens */
        }

            #Skills .skills-container .skill-item img {
                width: 50px; /* Adjusted width */
                height: auto;
                margin: 10px 10px; /* Adjusted margin */
            }

    /*#Contact {
        height: 100vh;*/ /* Make the section fill the viewport height */
    /*}*/
            
    #Contact .business-card {
        perspective: 500px;
        width: 300px;
        height: 175px;
        margin: 50px auto 25px auto;
    }

    #Contact .front,
    #Contact .back {
        padding: 10px;
    }

        #Contact .back h2 {
            text-align: left;
            margin: 0;
            color: #4A66AC; /* Darker color for the name */
        }

        #Contact .back p {
            text-align: left;
            margin: 0;
            color: #4A66AC; /* Darker color for other details */
        }

        #Contact .back .social-media-icons {
            position: absolute;
            bottom: -175px;
            right: 10px;
            display: flex;
        }

            #Contact .back .social-media-icons a {
                margin-right: -10px; /* Adjust this value to reduce the space between icons */
            }

    #Contact h2 {
        margin-bottom: 5px;
        border: 1px solid #4A66AC; /* Add border around the h2 */
        padding: 5px; /* Add padding for better visual appearance */
        letter-spacing: 0.15em;
        font-size: 1rem;
    }

    #Contact h3 {
        border: 1px solid #4A66AC; /* Add border around the h2 */
        padding: 5px; /* Add padding for better visual appearance */
        letter-spacing: 0.15em;
        font-size: 0.9rem;
    }

    #Contact h4 {
        margin-bottom: 5px;
        margin-top: 5px;
        font-size: 0.9rem;
    }

    #Contact p {
        margin-bottom: -15px;
        margin-top: -15px;
        font-size: 0.8rem;
    }

    #Contact .card-inner p {
        margin-bottom: 5px;
    }

    #Contact .social-media-icons {
        margin-top: 5px;
    }

        #Contact .social-media-icons a {
            margin-right: 5px;
        }

    #Contact .social-media-logo {
        width: 30px; /* Adjust icon size for smaller screens */
        margin: 0 10px; /* Adjust margin for smaller screens */
    }
}


@media only screen and (max-width: 1050px) {
    .navigation li {
        margin-right: 20px; /* Adjust margin for smaller screens */
    }

    .menu-options {
        /*height: 150%;*/ /* Make the section fill the viewport height */
        top: 80px; /* Adjust top position for smaller screens */
        padding: 10px;
    }

    .menu-icon {
        font-size: 2.8rem;
    }

    .social-media-logo-menu {
        width: 28px; /* Adjust the size as needed */
        height: auto;
        margin: 0 12px; /* Adjust the margin to create more space between icons */
    }

    .menu-options li {
        font-size: 1rem;
    }


    #Home, #About, #Skills, #Contact {
        min-height: 100vh; /* Ensure a minimum height of 100% of the viewport height */
        height: auto; /* Allow the section to expand beyond 100vh if the content is taller */
    }

        #Home h2 {
            font-size: 1.8rem; /* Adjust font size for smaller screens */
            padding-bottom: 0.6rem;
        }

        #Home p {
            font-size: 1.6rem; /* Adjust font size for smaller screens */
            margin-top: 0.7rem;
            margin-bottom: 0.0rem;
        }

        #Home a {
            margin-top: 2.7rem; /* Adjust the margin for smaller screens */
            margin-bottom: 1.2rem;
        }

    .social-media-icons {
        margin-bottom: 8.2rem; /* Adjust margin for smaller screens */
    }

    .social-media-logo {
        width: 35px; /* Adjust icon size for smaller screens */
        margin: 0 10px; /* Adjust margin for smaller screens */
    }

    #scrollDownIcon {
        font-size: 1.7rem; /* Set the font size as needed */
    }

    #About h2,
    #Skills h2,
    #Contact h2 {
        font-size: 1rem; /* Adjust font size for smaller screens */
        padding-bottom: 0.7rem;
    }

    #About p,
    #Skills p,
    #Contact p {
        max-width: 100%; /* Adjust max-width for paragraphs to fit smaller screens */
        font-size: 0.8rem; /* Adjust font size for smaller screens */
        margin-top: 0.7rem;
        margin-bottom: 0.0rem;
    }

    #About .content-wrapper {
        flex-direction: column; /* Change the flex direction to column for smaller screens */
    }

    #About .text-column,
    #About .image-column {
        flex: 1; /* Equal width for both columns on smaller screens */
        margin: 0; /* Remove margin for both columns */
    }

    #About .image-column {
        margin-top: 30px; /* Add some spacing between text and image columns */
    }

        #About .image-column img {
            max-width: 50%; /* Set the maximum width for the image to 100% of the container */
        }


    /*#About p {
        max-width: 60%;*/ /* Adjust max-width for paragraphs to fit smaller screens */
        /*font-size: 1rem;*/ /* Adjust font size for smaller screens */
        /*margin-top: 0.7rem;
        margin-bottom: 0.0rem;
    }*/

    #Skills .skills-container {
        grid-template-columns: repeat(3, 1fr); /* Display images in 2 columns for smaller screens */
        max-width: 100%; /* Adjust maximum width for smaller screens */
    }

        #Skills .skills-container .skill-item img {
            width: 50px; /* Adjusted width */
            height: auto;
            margin: 10px 10px; /* Adjusted margin */
        }

    /*#Contact {
        height: 100vh;*/ /* Make the section fill the viewport height */
    /*}*/

        #Contact .business-card {
            perspective: 500px;
            width: 300px;
            height: 175px;
            margin: 50px auto 25px auto;
        }

        #Contact .front,
        #Contact .back {
            padding: 10px;
        }

            #Contact .back h2 {
                text-align: left;
                margin: 0;
                color: #4A66AC; /* Darker color for the name */
            }

            #Contact .back p {
                text-align: left;
                margin: 0;
                color: #4A66AC; /* Darker color for other details */
            }

            #Contact .back .social-media-icons {
                position: absolute;
                bottom: -175px;
                right: 10px;
                display: flex;
            }

                #Contact .back .social-media-icons a {
                    margin-right: -10px; /* Adjust this value to reduce the space between icons */
                }

        #Contact h2 {
            margin-bottom: 5px;
            border: 1px solid #4A66AC; /* Add border around the h2 */
            padding: 5px; /* Add padding for better visual appearance */
            letter-spacing: 0.17em;
            font-size: 1.2rem;
        }

        #Contact h3 {
            border: 1px solid #4A66AC; /* Add border around the h2 */
            padding: 5px; /* Add padding for better visual appearance */
            letter-spacing: 0.17em;
            font-size: 1.2rem;
        }

        #Contact h4 {
            margin-bottom: 5px;
            margin-top: 5px;
            font-size: 1rem;
        }

        #Contact p {
            margin-bottom: -15px;
            margin-top: -15px;
            font-size: 0.8rem;
        }

        #Contact .card-inner p {
            margin-bottom: 5px;
        }

        #Contact .social-media-icons {
            margin-top: 5px;
        }

            #Contact .social-media-icons a {
                margin-right: 5px;
            }

        #Contact .social-media-logo {
            width: 35px; /* Adjust icon size for smaller screens */
            margin: 0 12px; /* Adjust margin for smaller screens */
        }
}

@media only screen and (max-width: 1450px) {
    .navigation li {
        margin-right: 20px; /* Adjust margin for smaller screens */
    }

    .menu-options {
        /*height: 150%;*/ /* Make the section fill the viewport height */
        top: 80px; /* Adjust top position for smaller screens */
        padding: 10px;
    }

    .menu-icon {
        font-size: 3rem;
    }

    .social-media-logo-menu {
        width: 28px; /* Adjust the size as needed */
        height: auto;
        margin: 0 10px; /* Adjust the margin to create more space between icons */
    }

    .menu-options li {
        font-size: 1rem;
    }


#Home, #About, #Skills, #Contact

{
    min-height: 100vh; /* Ensure a minimum height of 100% of the viewport height */
    height: auto; /* Allow the section to expand beyond 100vh if the content is taller */
}

        #Home h2 {
            font-size: 2.0rem; /* Adjust font size for smaller screens */
            padding-bottom: 0.8rem;
        }

        #Home p {
            font-size: 1.8rem; /* Adjust font size for smaller screens */
            margin-top: 0.9rem;
            margin-bottom: 0.0rem;
        }

        #Home a {
            margin-top: 2.9rem; /* Adjust the margin for smaller screens */
            margin-bottom: 1.4rem;
        }

    .social-media-icons {
        margin-bottom: 7.5rem; /* Adjust margin for smaller screens */
    }

    .social-media-logo {
        width: 40px; /* Adjust icon size for smaller screens */
        margin: 0 15px; /* Adjust margin for smaller screens */
    }

    #scrollDownIcon {
        font-size: 1.9rem; /* Set the font size as needed */
    }

    #About h2,
    #Skills h2,
    #Contact h2 {
        font-size: 1.4rem; /* Adjust font size for smaller screens */
        padding-bottom: 0.9rem;
    }

    #About p,
    #Skills p,
    #Contact p {
        max-width: 100%; /* Adjust max-width for paragraphs to fit smaller screens */
        font-size: 1rem; /* Adjust font size for smaller screens */
        margin-top: 0.9rem;
        margin-bottom: 0.0rem;
    }

    /*#About p{
        max-width: 60%;*/ /* Adjust max-width for paragraphs to fit smaller screens */
        /*font-size: 1.2rem;*/ /* Adjust font size for smaller screens */
        /*margin-top: 0.9rem;
        margin-bottom: 0.0rem;
    }*/

    #Skills .skills-container {
        grid-template-columns: repeat(3, 1fr); /* Display images in 2 columns for smaller screens */
        max-width: 100%; /* Adjust maximum width for smaller screens */
    }

        #Skills .skills-container .skill-item img {
            width: 50px; /* Adjusted width */
            height: auto;
            margin: 10px 10px; /* Adjusted margin */
        }

    /*#Contact {
        height: 100vh;*/ /* Make the section fill the viewport height */
    /*}*/

        #Contact .business-card {
            perspective: 500px;
            width: 350px;
            height: 175px;
            margin: 100px auto 25px auto;
        }

        #Contact .front,
        #Contact .back {
            padding: 10px;
        }

            #Contact .back h2 {
                text-align: left;
                margin: 0;
                color: #4A66AC; /* Darker color for the name */
            }

            #Contact .back p {
                text-align: left;
                margin: 0;
                color: #4A66AC; /* Darker color for other details */
            }

            #Contact .back .social-media-icons {
                position: absolute;
                bottom: -175px;
                right: 10px;
                display: flex;
            }

                #Contact .back .social-media-icons a {
                    margin-right: -10px; /* Adjust this value to reduce the space between icons */
                }

        #Contact h2 {
            margin-bottom: 5px;
            border: 1px solid #4A66AC; /* Add border around the h2 */
            padding: 5px; /* Add padding for better visual appearance */
            letter-spacing: 0.19em;
            font-size: 1.3rem;
        }

        #Contact h3 {
            border: 1px solid #4A66AC; /* Add border around the h2 */
            padding: 5px; /* Add padding for better visual appearance */
            letter-spacing: 0.17em;
            font-size: 1.1rem;
        }

        #Contact h4 {
            margin-bottom: 5px;
            margin-top: 5px;
            font-size: 1rem;
        }

        #Contact p {
            margin-bottom: -15px;
            margin-top: -15px;
            font-size: 0.8rem;
        }

        #Contact .card-inner p {
            margin-bottom: 5px;
        }

        #Contact .social-media-icons {
            margin-top: 5px;
        }

            #Contact .social-media-icons a {
                margin-right: 5px;
            }

        #Contact .social-media-logo {
            width: 34px; /* Adjust icon size for smaller screens */
            margin: 0 12px; /* Adjust margin for smaller screens */
        }
}

@media only screen and (min-width: 1451px) {
    .navigation li {
        margin-right: 30px; /*Adjust margin for smaller screens*/
    }

    #Home, #About, #Skills, #Contact {
        min-height: 100vh; /* Ensure a minimum height of 100% of the viewport height */
        height: auto; /* Allow the section to expand beyond 100vh if the content is taller */
    }

        #Home h2 {
            font-size: 2.6rem;
            padding-bottom: 0.8rem;
        }

        #Home p {
            font-size: 2.4rem;
            margin-top: 0.9rem;
            margin-bottom: 0.0rem;
        }

        #Home a {
            margin-top: 2.9rem;
            margin-bottom: 1.4rem;
        }

    .social-media-icons {
        margin-bottom: 8.7rem;
        }

    .social-media-logo {
        width: 45px;
        margin: 0 15px;
    }

    #scrollDownIcon {
        font-size: 1.9rem;
    }

    #About h2,
    #Skills h2,
    #Contact h2 {
        font-size: 1.4rem;
        padding-bottom: 0.9rem;
    }

    #About p,
    #Skills p,
    #Contact p {
        max-width: 100%;
        font-size: 1.2rem;
        margin-top: 0.9rem;
        margin-bottom: 0.0rem;
    }

/*    #About p {
        max-width: 60%;
        font-size: 1.2rem;
        margin-top: 0.9rem;
        margin-bottom: 0.0rem;
    }*/

    #Skills .skills-container .skill-item img {
        width: 80px;
        height: auto;
        margin: 15px 15px;
    }

        #Contact .business-card {
            margin: 175px auto 25px auto;
        }

        #Contact .front,
        #Contact .back {
            padding: 10px;
        }

            #Contact .back h2 {
                text-align: left;
                margin: 0;
                color: #4A66AC;
            }

            #Contact .back p {
                text-align: left;
                margin: 0;
                color: #4A66AC;
            }

            #Contact .back .social-media-icons {
                position: absolute;
                bottom: -175px;
                right: 10px;
                display: flex;
            }

                #Contact .back .social-media-icons a {
                    margin-right: -10px;
                }

        #Contact h2 {
            margin-bottom: 5px;
            border: 1px solid #4A66AC;
            padding: 5px;
            letter-spacing: 0.19em;
            font-size: 1.6rem;
        }

        #Contact h3 {
            border: 1px solid #4A66AC;
            padding: 5px;
            letter-spacing: 0.17em;
            font-size: 1.3rem;
        }

        #Contact h4 {
            margin-bottom: 5px;
            margin-top: 5px;
            font-size: 1.2rem;
        }

        #Contact p {
            margin-bottom: -15px;
            margin-top: -15px;
            font-size: 1rem;
        }

        #Contact .card-inner p {
            margin-bottom: 5px;
        }

        #Contact .social-media-icons {
            margin-top: 5px;
        }

            #Contact .social-media-icons a {
                margin-right: 5px;
            }

        #Contact .social-media-logo {
            width: 40px;
            margin: 0 12px;
        }
}
