/* External CSS file for site styles */

body {
    font-family: 'Arial', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center right;
    color: white;
    margin: 0;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 50px;
}

.header {
    color: #242852;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background 0.2s;
    overflow: visible;
}

.navigation {
    display: flex;
    justify-content: center;
}

    .navigation ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navigation li {
        margin-right: 30px;
        display: inline;
    }

    .navigation a {
        color: #4A66AC;
        text-decoration: none;
        font-weight: bold;
    }

.content {
    padding: 20px;
    color: #4A66AC;
}

.logo {
    max-width: 100%;
    height: auto;
}

section {
    height: 100vh;
}

h2 {
    font-size: 1.5rem;
    color: #4A66AC;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
}

p {
    font-size: 1.0rem;
    color: #4A66AC;
    margin-top: 25px;
    margin-bottom: 20px;
    font-weight: normal;
}

/* About Section Styles */
#About {
    background-image: url('../images/Background.png');
    background-size: cover;
    background-position: center right;
    display: flex;
    align-items: center;
    padding: 50px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden; /* Add overflow hidden to hide content outside the viewport */
    position: relative; /* Add position relative to enable absolute positioning inside */
}

    #About div {
        flex: 1;
        margin-right: 50px;
        transition: transform 2s; /* Add transition for the transform property */
    }

    #About.active div {
        transform: translateX(0); /* Move the content in from the left on activation */
    }

    #About h2 {
        text-align: left;
        text-decoration: underline;
        transform: translateX(-100%); /* Initial position outside the viewport */
        transition: transform 2s; /* Add transition for the transform property */
    }

    #About.active h2 {
        transform: translateX(0); /* Move the heading in from the left on activation */
    }

    #About p {
        text-align: left;
        max-width: 60%; /* Adjust this value according to your design */
        transform: translateX(-150%); /* Initial position outside the viewport */
        transition: transform 2s; /* Add transition for the transform property */
    }

    #About.active p {
        transform: translateX(0); /* Move the paragraphs in from the left on activation */
    }



/* Skills Section Styles */
#Skills {
    text-align: left; /* Left-align the entire section */
    padding: 50px;
    max-width: 100%;
    margin: 0 auto;
}

    #Skills.active p {
        transform: translateY(0); /* Adjust as needed */
    }

    #Skills .skills-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* Display images in 4 columns */
        gap: 15px; /* Adjust the gap to your preference */
        max-width: 60%; /* Set a maximum width for the container */
        margin: 50px auto; /* Center the container */
        transform: translateX(-150%); /* Initial position outside the viewport */
        transition: transform 2s; /* Add transition for the transform property */
    }

    #Skills.active .skills-container {
        transform: translateY(0); /* Adjust as needed */
    }

    #Skills img {
        width: 80px; /* Set a fixed width for the images (adjust as needed) */
        height: auto;
        margin: 25px 30px; /* Add margin between images (adjust as needed) */
        display: block; /* Fix for inline-block whitespace issue */
 }



    #Skills h2 {
        text-align: left;
        text-decoration: underline;
        transform: translateX(-150%); /* Initial position outside the viewport */
        transition: transform 2s; /* Add transition for the transform property */
    }

    #Skills.active h2 {
        transform: translateY(0); /* Adjust as needed */
    }

    #Skills p {
        text-align: left;
        max-width: 60%; /* Adjust this value according to your design */
        transform: translateX(-150%); /* Initial position outside the viewport */
        transition: transform 2s; /* Add transition for the transform property */
    }

    #Skills.active p {
        transform: translateY(0); /* Adjust as needed */
    }

    #Skills .skills-container img {
        position: relative;
    }


    #Skills .skills-container .skill-item {
        position: relative;
        display: inline-block;
    }

        #Skills .skills-container .skill-item img {
            width: 80px;
            height: auto;
            margin: 25px 30px;
            display: block;
        }

        #Skills .skills-container .skill-item .tooltip {
            display: none;
            position: absolute;
            top: 100%; /* Adjusted the tooltip position */
            left: 26.5%; /* Adjusted the tooltip position */
            transform: translateX(-50%);
            background-color: rgba(200, 200, 200, 0.9);
            color: #4A66AC;
            padding: 8px;
            border-radius: 4px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 1;
            width: max-content;
        }

        #Skills .skills-container .skill-item:hover img {
            transform: scale(1.3); /* Increase the size on hover */
            opacity: 0.5; /* Reduce opacity on hover */
        }

        #Skills .skills-container .skill-item:hover .tooltip {
            display: block;
        }



/* Content Section Styles */
#Contact {
    background-image: url('../images/Laptop.jpeg');
    background-size: cover;
    background-position: center right;
}


#Contact .business-card {
    perspective: 1000px;
    width: 500px;
    height: 250px;
    margin: 200px auto 50px auto;
    position: relative;
}

    #Contact .business-card:hover .card-inner {
        transform: rotateY(180deg);
    }

#Contact .card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    position: relative;
    border: 2px solid #4A66AC;
    box-shadow: 0 2px 5px rgba(0, 116, 204, 0.2);
}

#Contact .front,
#Contact .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Contact .back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

    #Contact .back h2 {
        text-align: left;
        margin: 0;
        color: #4A66AC; /* Darker color for the name */
    }

    #Contact .back p {
        text-align: left;
        margin: 0;
        color: #4A66AC; /* Darker color for other details */
    }

    #Contact .back .social-media-icons {
        position: absolute;
        bottom: -200px;
        right: 10px;
        display: flex;
    }

        #Contact .back .social-media-icons a {
            margin-right: -20px; /* Adjust this value to reduce the space between icons */
        }

/* Remaining styles unchanged */

#Contact h2 {
    text-align: center; /* Align text centrally */
    margin-bottom: 10px;
    border: 2px solid #4A66AC; /* Add border around the h2 */
    padding: 10px; /* Add padding for better visual appearance */
    letter-spacing: 0.25em;
}

#Contact h3 {
    text-align: center; /* Align text centrally */
    margin-top: 0px;
    margin-bottom: 0px;
    border: 2px solid #4A66AC; /* Add border around the h2 */
    padding: 10px; /* Add padding for better visual appearance */
    letter-spacing: 0.25em;
}

#Contact h4 {
    text-align: center; /* Align text centrally */
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0px; /* Add padding for better visual appearance */
    color: #242852;
}
#Contact p {
    text-align: center; /* Align text centrally */
    margin-bottom: -30px;
    margin-top: -30px;
    padding: 0px; /* Add padding for better visual appearance */
}

#Contact .card-inner p {
    margin-bottom: 10px;
}

#Contact .social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-end;
    margin-top: 10px;
}

    #Contact .social-media-icons a {
        margin-right: 10px;
    }

#Contact .front {
    background: white; /* Light gray background color */
}

#Contact .back {
    background: white; /* Light gray background color */
    transform: rotateY(180deg);
}

.business-card {
    transition: transform 2s;
    transform: translateY(100%);
}

    .business-card.active {
        transform: translateY(0);
    }

